[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
python-dotenv = "*"
langgraph = "*"
langchain-google-genai = "*"
tavily-python = "*"
langchain-groq = "*"

[dev-packages]

[requires]
python_version = "3.11"
